<div class="container-result-global">

<div>
<h1 class="bad mdc-typography--display2"> Indice de confiance faible </h1> 
</div>
<div>
<span class=bad><i class="material-icons">warning</i></span>
</div>
</div>
