<div class="row" style="margin-left:0; text-align:left; width:100%; bottom:0; height:100px;background-color:#FF0000">
<div style="margin-left:15%; margin-top:18px;">
	<h5 style="color:white">RESSOURCES</h4>	
	<div>
	<p style="font-size:12px;"><a href="www.ici.radio-canada.ca" style="color:white">Radio Canada</a></p>
	<p style="font-size:12px;"><a href="#" style="color:white">Guide de Vérification des Source</a></p>
	</div>
</div>
