<div class="row">
<div class="col-xs-8">
<h1 class="mdc-typography--display4" id="logo-aletheia">Alètheia<br> <span class="mdc-typography--display2"> Vérificateur de source</span></h1>
</div>
<div class="col-xs-4">
<img id="logo-rc" alt="Radio Canada" src="/img/logo_radio_canada.jpg">
</div>
</div>

