<!DOCTYPE html>
<html>
 <% include ./partials/_header %>
  <body>
    <p>Analyse de l'article</p>
    <p><%= result %></p>
    <p><%= sentiment %></p>
    <p><%= isSatirical %></p>
    So far ce qui est accessible:

    WOT data
    Seintiment analysis et Language analysis
    isSatirical Website boolean
    <a href="/">Return home</a>
  </body>
</html>