<!DOCTYPE html>
<html>
 <% include ./partials/_header %>
  <body>
    <p>Analyse de l'article</p>
    <p><%= result %></p>
    <p><%= sentiment %></p>
    <a href="/">Return home</a>
  </body>
</html>