<!DOCTYPE html>
<html>
 <% include ./partials/_header %>

  <body>
    <p>Let the game begin!</p>


      <form action="/analyse" method="POST">
        <input class="form-control" type="text" name="url" placeholder="URL de l'article" autofocus>
        <input class="btn btn-default form-submit" type="submit">
      </form>

  </body>

</html>