<!DOCTYPE html>
<html lang="fr">
	<% include ./partials/_header %>
	<style> 
#logo-rc {
	max-width: 100%;
}
#logo-aletheia {
	line-height:3rem;
}
#input-container {
	width: 300px;
	height: 300px;
	padding: 14px;
	margin: 0 auto;
	text-align: center;
	#background-color:#242042;
}
#input-field-article {
	width:100%;
	margin-top:48px;
}
#article-submit {
	margin-top: 14px;
}
#article-submit button {
}
#information-text-container {
	width: 40%;
	text-align: center;
	margin: 48px auto 0 auto;
}
#container-article-all {
	margin-top:14px;
}
#input-field-article {
	font-size: 14px;
}

	</style>
	<body class="mdc-typography">
		<div class="container" id="container-article-all">
			<% include ./partials/_top %>
			<div id="information-text-container">
				<h2 class="mdc-typography--headline">Vous n'êtes pas sûr d'une information et vous avez besoin de la confirmer ? Alètheia est une plateforme intelligente qui a pour but de mettre à jour les fausses informations. Entrez simplement le lien d'un article à vérifier dans le champ ci-dessous.</h2>
			</div>
			<div class="row" id="input-container">

				<form action="/analyse" method="POST">
					<div class="row mdc-textfield" id="input-field-article">
						<label for="article" class="mdc-textfield__label">Entrez votre url</label>
						<input id="article" class="mdc-textfield__input" type="text" name="url">
					</div>
					<div id="article-submit">
						<button class="mdc-button mdc-button--raised">
							Analyser	
						</button>
					</div>
				</form>
			</div>
			<% include ./partials/_footer %>
			<script>
mdc.textfield.MDCTextfield.attachTo(document.querySelector('.mdc-textfield'));
			</script>
	</body>

</html>
