<!DOCTYPE html>
<html>
				<% include ./partials/_header %>

				<body>
								<div class="container">
												<div class="row">
																<div class="offset-xs-2 col-xs-4">
																				<h1>Alètheia <span>- Vérificateur de source</span></h1>
																</div>
																<div class="offset-xs-2 col-xs-4">
																				<img alt="logo-radio-canada" src="/img/logo_radio_canada.jpg">
																</div>
												</div>

												<div class="row">

																<form action="/analyse" method="POST">
																				<input class="form-control" type="text" name="url" placeholder="URL de l'article" autofocus>
																				<input class="btn btn-default form-submit" type="submit">
																</form>
												</div>
								</div>

				</body>

</html>
